{% import 'macro.html' as macro %}
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <!-- Loading Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.css') }} " rel="stylesheet">
    <link href="{{ url_for('static',filename='css/bootstrap-theme.css') }} " rel="stylesheet">
    <title>Yelper</title>
    <style type="text/css">
		h1 {text-align: center}
	</style>
</head>

<body>
	<div class="container">	
		<h1>Yelper</h1>
		<div class="col-lg-12">
			{% if question %}
			<div class="row">
				<h2>Ask a Question</h2>
			</div>

				<form action="{{ url_for('index')}}" method="post">
	    			<div class="input-group">
		      			<input type="text"  name="question" class="form-control">

		      			<span class="input-group-btn">
		        			<input class="btn btn-default" type="submit" value="Go!"/>
		      			</span>
	    			</div><!-- /input-group -->
    			</form>

  			{% if restautants is not none %}
  			<div class="row">

				<h2>Result</h2>
			</div>
			{% endif %}
			{% endif %}
			{% if restautants is not none %}
			{{macro.show_restaurant(restautants)}}
			{% endif %}
  		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
<script>
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>

</body>



</html>