{% macro show_restaurant(restautants) %}

{% for restaurant in restautants%}
{% set outer_loop = loop %}
<div  class="panel" >
    <div class="panel-heading">
        <h3 class="panel-title">{{restaurant['name']}}</h3>
    </div>
    <div class="panel-body">
          <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">

    
    {% for topic in ['food', 'service', 'value', 'env'] if topic in restaurant %}
        <li role="presentation" class="{{'active' if loop.index == 1 else ''}}"><a href="#{{topic+outer_loop.index|string}}" aria-controls="{{topic+outer_loop.index|string}}" role="tab" data-toggle="tab">{{topic}}</a></li>
    {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    {% for topic in ['food', 'service', 'value', 'env'] if topic in restaurant %}

    <div role="tabpanel" class="tab-pane{{' active' if loop.index == 1 else ''}}" id="{{topic+outer_loop.index|string}}">
    <div class="col-lg-6">
        <h4>Pos</h4>
        <hr>
        {% for sent in restaurant[topic]['pos']%}
          {{sent}}
          <hr>
        {% endfor %}
    </div>
    <div class="col-lg-6">
      <h4>Neg</h4>
      <hr>
      {% for sent in restaurant[topic]['neg']%}
          {{sent}}
          <hr>
        {% endfor %}

    </div>
    </div>
    {% endfor %}
  </div>
    </div>
</div>
{% endfor %}

{% endmacro %}